// IMPORTS
@import url('app.css');
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700&display=swap');


// MIXINS
@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

// ESSENTIAL
body {
  background:rgb(240,240,240);
  overflow:hidden;
}


// BG HELPERS
.primary-bg {
  background:#3F4F5F;
  color:white;
  ul.accordion-menu li a {
    color:white;
  }
}

.secondary-bg {
  background:lighten(#3F4F5F, 20);
  // color:white;
  ul.accordion-menu li a {
    color:white;
  }
  ul.accordion-menu .menu .is-active > a {
    background:rgba(255, 255, 255, .5);
    color:lighten(#3F4F5F, 20);
  }
}

.white-bg {
  background:white;
}

// BLOCKS
.footer {
  background:rgb(40,40,40);
  @include headings {
    color:rgb(200,200,200);
  }
}


// ACCORDIAN HELPERS
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a {
  color:rgb(220,220,220);
  font-size: .8rem;
  text-transform: uppercase!important;
}

// MENU Helpers
.top-bar ul.menu.dropdown li {
  a {
    color:white;
  }
  ul.submenu li a {
    color:red;
  }
}

li a i {
  margin-right:5px;
}

/* Typography */
@include headings {
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  color:rgb(90,90,90);
  margin:0;
}

p, ul li {
	font-family: 'Assistant', sans-serif;
	color:rgb(90,90,90);
	margin: 0;
	margin-bottom: 10px;
}


// Form HELPERS
.search-form {
  background-image:url('//image.ibb.co/i7NbrQ/search_icon_15.png');
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
}

// MARGIN HELPERS
.margin-top {
  margin-top: 50px!important;
}

// TABLE HELPERS
table {
  color:rgb(80,80,80);
  tbody tr td i {
    margin-right:5px;
  }
}
